In [1]:
# Import librarie
import pandas as pd

In [2]:
# Load Kiva's Loans Dataset
df = pd.read_csv(r"C:\Users\Luís Pinto Coelho\Desktop\Introdução ao Python\Assignment3\kiva_loans.csv")

In [3]:
# Inspection of the data
print("First 5 rows of the dataset:\n", df.head(), "\n\nDataset Information:")
df.info()

First 5 rows of the dataset:
        id  funded_amount  loan_amount             activity          sector  \
0  653051          300.0        300.0  Fruits & Vegetables            Food
1  653053          575.0        575.0             Rickshaw  Transportation
2  653068          150.0        150.0       Transportation  Transportation
3  653063          200.0        200.0           Embroidery            Arts
4  653084          400.0        400.0           Milk Sales            Food

                                                 use country_code   country  \
0            To buy seasonal, fresh fruits to sell.            PK  Pakistan
1  to repair and maintain the auto rickshaw used ...           PK  Pakistan
2  To repair their old cycle-van and buy another ...           IN     India
3  to purchase an embroidery machine and a variet...           PK  Pakistan
4                           to purchase one buffalo.           PK  Pakistan

         region currency  partner_id                posted_time  \
0        Lahore      PKR       247.0  2014-01-01 06:12:39+00:00
1        Lahore      PKR       247.0  2014-01-01 06:51:08+00:00
2     Maynaguri      INR       334.0  2014-01-01 09:58:07+00:00
3        Lahore      PKR       247.0  2014-01-01 08:03:11+00:00
4  Abdul Hakeem      PKR       245.0  2014-01-01 11:53:19+00:00

              disbursed_time                funded_time  term_in_months  \
0  2013-12-17 08:00:00+00:00  2014-01-02 10:06:32+00:00            12.0
1  2013-12-17 08:00:00+00:00  2014-01-02 09:17:23+00:00            11.0
2  2013-12-17 08:00:00+00:00  2014-01-01 16:01:36+00:00            43.0
3  2013-12-24 08:00:00+00:00  2014-01-01 13:00:00+00:00            11.0
4  2013-12-17 08:00:00+00:00  2014-01-01 19:18:51+00:00            14.0

   lender_count                          tags borrower_genders  \
0            12                           NaN           female
1            14                           NaN   female, female
2             6  user_favorite, user_favorite           female
3             8                           NaN           female
4            16                           NaN           female

  repayment_interval        date
0          irregular  2014-01-01
1          irregular  2014-01-01
2             bullet  2014-01-01
3          irregular  2014-01-01
4            monthly  2014-01-01

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   funded_amount       671205 non-null  float64
 2   loan_amount         671205 non-null  float64
 3   activity            671205 non-null  object
 4   sector              671205 non-null  object
 5   use                 666973 non-null  object
 6   country_code        671197 non-null  object
 7   country             671205 non-null  object
 8   region              614405 non-null  object
 9   currency            671205 non-null  object
 10  partner_id          657698 non-null  float64
 11  posted_time         671205 non-null  object
 12  disbursed_time      668809 non-null  object
 13  funded_time         622874 non-null  object
 14  term_in_months      671205 non-null  float64
 15  lender_count        671205 non-null  int64
 16  tags                499789 non-null  object
 17  borrower_genders    666984 non-null  object
 18  repayment_interval  671205 non-null  object
 19  date                671205 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

In [6]:
# Requirement 1: Select rows using string methods and numerical conditions
# Example: Select Loans for 'Agriculture' sector in the 'Philippines' with Loan amount > 1000
filtered_df = df.query("country == 'Philippines' and sector == 'Agriculture' and loan_amount > 1000")[['id', 'loan_amount', 'activity', 'sector', 'country']]
print("\nFiltered rows (Agriculture, Philippines, loan > 1000):\n", filtered_df.head())

Filtered rows (Agriculture, Philippines, loan > 1000):
           id  loan_amount   activity       sector      country
3741  656579       1125.0    Flowers  Agriculture  Philippines
3919  656910       1125.0    Farming  Agriculture  Philippines
4207  656863       1125.0  Livestock  Agriculture  Philippines
5032  657780       1125.0       Pigs  Agriculture  Philippines
6021  658862       1125.0    Poultry  Agriculture  Philippines

In [8]:
# Requirment 2: Sort table using one or more columns
# Example: Sort the data by 'Loan_amount' in descending order
print("\nTop 5 loans sorted by 'loan_amount' in descending order:\n", df[['country', 'sector', 'loan_amount']].sort_values(by='loan_amount', ascending=False).head())

Top 5 loans sorted by 'loan_amount' in descending order:
           country        sector  loan_amount
70499       Haiti   Agriculture     100000.0
408465       Peru  Construction      50000.0
583307  Guatemala   Agriculture      50000.0
126839     Mexico   Agriculture      50000.0
447374     Uganda   Agriculture      50000.0

In [9]:
# Requirment 3: Group and aggregate rows using "groupby"
# Example: Group by 'country' and calculate total and average loan amount 
country_loan_summary = df.groupby('country', as_index=False).agg(total_loan_amount=('loan_amount', 'sum'), average_loan_amount=('loan_amount', 'mean'), loan_count=('loan_amount', 'count'))
print("\nLoan summary by country (total, average, count):\n", country_loan_summary.head(6).set_index(pd.Index(range(1, len(country_loan_summary.head(6)) + 1))))

Loan summary by country (total, average, count):
        country  total_loan_amount  average_loan_amount  loan_count
1  Afghanistan            14000.0          7000.000000           2
2      Albania          2666500.0          1378.748707        1934
3      Armenia         12915400.0          1496.396710        8631
4   Azerbaijan          2888700.0          1485.192802        1945
5       Belize           114025.0           912.200000         125
6        Benin           518950.0          1044.164990         497

In [10]:
# Requirement 4: Create a new variable with "apply" and "Lambda"
# Example: Categorize loans into 'Small', 'Medium', and 'Large' based on 'Loan_amount'
df['loan_size_category'] = df['loan_amount'].apply(lambda x: 'Small' if x < 500 else 'Medium' if x < 2000 else 'Large')
print("\nLoan size categories (first 5 rows):\n", df[['loan_amount', 'loan_size_category']].head(5).set_index(pd.Index(range(1, len(df.head(5)) + 1))))

Loan size categories (first 5 rows):
    loan_amount loan_size_category
1        300.0              Small
2        575.0             Medium
3        150.0              Small
4        200.0              Small
5        400.0              Small

In [12]:
# Save the transformed DataFrame as a new CSV in UTF-8 format with comma separator
output_path = r"C:\Users\Luís Pinto Coelho\Desktop\Introdução ao Python\Assignment3\kiva_loans_analysis.csv"
with open(output_path, 'w', encoding='utf-8') as file:
    file.write('sep=,\n')  # Escreve a linha separadora no início
    df.to_csv(file, index=False, encoding='utf-8', sep=',')  # Salva o DataFrame no arquivo
print(f"\nTransformed DataFrame successfully saved to: {output_path}")

Transformed DataFrame successfully saved to: C:\Users\Luís Pinto Coelho\Desktop\Introdução ao Python\Assignment3\kiva_loans_analysis.csv